@import 'bootstrap/scss/bootstrap';

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

#initial-loader {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

html, body {
	height: 100%;
	overflow: hidden;
}

.center-y {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fetching-spinner {
	position: absolute;
	right: 80px;
	top: 40px;
}

.invalid {
	color: $danger;
	font-size: 0.875em;
	margin-top: 0.25rem;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.logo {
	width: 150px; /* default size */
}

.logo-text {
	font-family: 'Zen Loop', cursive, sans-serif;
	font-weight: bold;
    font-size: 40px;
}

@media (min-width: 576px) {
	.logo {
		width: 300px; /* larger size for larger screens */
	}
	.logo-text {
		font-size: 55px;
	}
}

@media (min-width: 768px) {
	.logo {
		width: 450px; /* even larger size for even larger screens */
	}
	.logo-text {
		font-size: 70px;
	}
}

.questions {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.questions-btn {
	display: block;
	margin: 0 auto;
}