@import 'bootstrap/scss/bootstrap';

// colors {
// 	color: #196772;
// 	color: #4D747B;
// 	color: #10AAB5;
// 	color: #A8BEC1;
// 	color: #133640;
// 	color: #000000;
// }

.navbar-nav .dropdown-menu {
	position: absolute;
}

.nav-bar {
	font-size: 35px;
	font-weight: bolder;
}

.card-body {
	background-color: #196772;
	color:#ffffff;
}

.btn.btn-primary {
	background-color: #10AAB5;
	color: #000000;
	border: #196772;
}

.form-control {
	background-color: #A8BEC1;
	color: #000000;
}

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	background: rgb(25,103,114);
	background: linear-gradient(45deg, rgba(25,103,114,1) 10%, rgba(168,190,193,1) 66%);
	font-family: 'Zen Loop', sans-serif;
}

#initial-loader {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.center-y {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcome-title {
	font-size: 60px;
	margin: 1rem auto;
	color: #fffefe61;
	background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
	background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
	background-size: 15px 100%;
	-webkit-background-clip: text;
	background-clip: text;
	animation: flick 1.9s infinite;
	text-align: center;
}
@keyframes flick {
	0% {
	background-position: top left;
	}
	100% {
	background-position: top right;
	}
}

.welcome-text {
	color: #ffffff;
	font-size: 25px;
}

.logo {
	width: 350px; 
}

.logo-text {
	font-weight: bold;
    font-size: 35px;
	margin-bottom: 0;
}

.logo-click {
	font-size: 20px;
	color: #ffffff;
	font-weight: 800;
}

.category-buttons {
	margin-bottom: 20px;
}

.category-btn {
	color: #ffffff;
	border-radius: 5px;
	margin: 0 5px 10px 0;
	background-color: #196772;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 20px;
	transition: background-color 0.4s ease-in-out;
}

.category-btn.selected {
	background-color: #A8BEC1;
	color: #000000;
}

.questions {
	width: 50%;
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
}

.prev-btn {
	left: 0;
}

.next-btn {
	right: 0;
}

.next-btn, .prev-btn {
    opacity: 0;
    transition: opacity 1s ease-in-out;
	border: none;
	background: none;
	z-index: 1;
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
}

.next-btn.show, .prev-btn.show {
    opacity: 1;
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-exit-done {
    transform: rotateY(180deg);
}

.flip-enter {
    transform: rotateY(180deg);
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-enter-done {
    transform: rotateY(0deg);
}

.card {
	/* Sizing */
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	/* Content Alignment */
	position: relative;
	/* Styling */
	border-radius: 5px;
	border: 5px solid white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
	user-select: none;
	cursor: pointer;
}

.card-front,
.card-back {
	/* Sizing */
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/* Alignment */
	position: absolute;
	/* Content Alignment */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Content Styling */
	font-weight: 800;
	font-size: 30px;
	color: #000000;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.card-front {
	background-color: #196772;
	flex-direction: column;
	color: #A8BEC1;
}

.card-back {
	background-color: #A8BEC1;
	transform: rotateY(180deg);
}

.FlippableCard-container {
	height: 500px;
	width: 300px;
	perspective: 1000px;
}

@media (min-width: 600px) {
	.logo {
		width: 450px; /* larger size for larger screens */
	}
	.logo-text {
		font-size: 40px;
	}

	.FlippableCard-container {
		height: 550px;
		width: 350px;
	}
	.questions {
		font-size: 35px;
	}
}

@media (min-width: 1200px) {
	.logo {
		width: 500px; /* even larger size for even larger screens */
	}
	.logo-text {
		font-size: 45px;
	}

	.FlippableCard-container {
		height: 600px;
		width: 400px;
	}
	.questions {
		font-size: 40px;
	}
}